---
import type { BlogEntry } from "@/types";
import { upperHumanize, plainify, slugify } from "@lib/textConverter";
import readingTime from "@lib/readingTime";

interface Props {
  entry: BlogEntry;
}

const { entry }: Props = Astro.props;
const {
  title,
  description,
  autodescription,
  date,
  categories,
  tags,
  complexity,
} = entry.data;

const descriptionLength = 200;

const entryDate = date ? new Date(date).toLocaleDateString() : null;
const entryReadingTime = readingTime(entry.body!, complexity);
const entryDescription =
  description ||
  (autodescription ? plainify(entry.body!.slice(0, descriptionLength)) : null);
---

<div class="h-full m-2 pl-0 bg-gradient-to-br gradient rounded-lg">
  <div class="glass h-full rounded-lg p-4 intersect:animate-fadeUp opacity-0">
    <h4 class="mb-2">
      <a href={`/blog/${entry.id}`}>
        {title}
      </a>
    </h4>
    <ul class="mb-2">
      {
        categories && (
          <li class="mr-0 inline-block">
            {categories.map((category: string, index: number) => (
              <a href={`/blog/categories/${slugify(category)}`}>
                <svg className="ml-2 -mt-1 inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20"><path d="M2 6a2 2 0 012-2h5l2 2h5a2 2 0 012 2v6a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"></path></svg>
                {upperHumanize(category)}
              </a>
            ))}
          </li>
        )
      }
      <!-- { tags && (
        <li class="mr-0 inline-block">
          {
            tags.map((tag: string, index: number) => (
              <a href={`/blog/tags/${slugify(tag)}`}>
                <svg className="ml-2 -mt-1 inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M9.243 3.03a1 1 0 01.727 1.213L9.53 6h2.94l.56-2.243a1 1 0 111.94.486L14.53 6H17a1 1 0 110 2h-2.97l-1 4H15a1 1 0 110 2h-2.47l-.56 2.242a1 1 0 11-1.94-.485L10.47 14H7.53l-.56 2.242a1 1 0 11-1.94-.485L5.47 14H3a1 1 0 110-2h2.97l1-4H5a1 1 0 110-2h2.47l.56-2.243a1 1 0 011.213-.727zM9.03 8l-1 4h2.938l1-4H9.031z" clip-rule="evenodd"></path></svg>
                {lowerHumanize(tag)}
              </a>
            ))
          }
        </li>
      )} -->
      {
        entryDate && (
          <li class="mr-0 inline-block">
            <svg className="ml-2 -mt-1 inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
            {entryDate}
          </li>
        )
      }
      {
        complexity > 0 && (
          <li class="mr-0 inline-block">
            <svg className="ml-2 -mt-1 inline-block w-4 h-4" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"></path></svg>
            {entryReadingTime}
          </li>
        )
      }
    </ul>
    <p class="">
      {entryDescription}
    </p>
  </div>
</div>